.regulars-clients-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.regulars-clients-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 170px;
    height: 92px;
    color: var(--bgc-social-icons);
    cursor: pointer;
    border: 1px solid var(--bgc-social-icons);
    border-radius: 4px;
    cursor: pointer;
    transition: border var(--timing-duration) var(--timing-function),
    color var(--timing-duration) var(--timing-function);

    &:hover,
    &:focus {
    color: var(--accent-text-color);
    border: 1px solid var(--accent-text-color);
        }
}

.regulars-clients-list__icon {
    width: 106px;
    height: 60px;
    fill: currentColor;
    transition: fill var(--timing-duration);
}
