@media screen and (max-width:767px) {
    .logo-header-link {
    padding-top: 16px;
    padding-bottom: 16px;
}
}

@media screen and (min-width:768px) and (max-width:1199px) {
    
    .logo-header-link {
    padding-top: 26px;
    padding-bottom: 26px;
}
}

@media screen and (min-width:1200px) {
    .logo-header-link {
    padding-top: 24px;
    padding-bottom: 25px;
}
}

.logo-header-link {

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

    .logo-header-link__web-word {
    color: var(--accent-text-color);
}

    .logo-header-link__studio-word {
    color: var(--color-logo);
}

@media screen and (max-width:767px) {
    .logo-footer-link {
        display: flex;
        justify-content: center;
    }
}

.logo-footer-link {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    margin-bottom: 20px;

    .logo-footer-link__web-word {
    color: var(--accent-text-color);
}

    .logo-footer-link__studio-word {
    color: var(--background-color);
}
}
