.social-link-list {
    display: flex;
    justify-content: center;
    gap: 10px;

    .social-link-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    color: var(--bgc-social-icons);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color var(--timing-duration) var(--timing-function),
        color var(--timing-duration) var(--timing-function);
    
    &:hover,
    &:focus {
    background-color: var(--accent-text-color);
    color: var(--background-color);
            }
}

.social-link-list__icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}
}


