:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-text-color: #2196f3;
    --background-color: #ffffff;
    --background-color-second: #2f303a;
    --background-color-btn: #f5f4fa;
    --color-btn-portfolio: #212121;
    --color-tel-email: rgba(255, 255, 255, 0.6);
    --color-logo: #000000;
    --button-order-hover: #188ce8;
    --color-portfolio-projects: #eeeeee;
    --background-color-main: #e5e5e5;
    --backround-color-hero: #c4c4c4;
    --bgc-social-icons: #afb1b8;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --timing-duration: 250ms;
}
